<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footerFrag">
<div>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 pt-3">

        <div class="container">

            <div class="border-bottom border-3"></div>
            <div class="row">
                <div class="col-md-6">
                    <p class="my-2 text-center text-md-start">All rights Reserved &copy; TU, 2024</p>
                </div>
                <div class="col-md-6 order-1 order-md-0">
                    <p class="my-2 text-1000 text-md-end text-center">&nbsp;
                        <i class="fas fa-envelope text-warning me-2"></i><span class="text-1000">example@naver.com</span>
                    </p>
                </div>
            </div>
        </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
</div>

</html>