<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:fragment="headerFrag">

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand d-inline-flex" th:href="@{/}"><img class="card-img" th:src="@{/assets/img/gallery/logo.png}" alt="..." /><span class="fs-2 fw-bold text-primary ms-2">N<span class="text-warning">a</span>rcy</span></a>
        <button class="navbar-toggler collapsed rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" data-bs-auto-close="true" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-search fs-2" style="color: #818283;"></i></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="/best-city">올해의 도시 <i class="fas fa-trophy" style="color: #ffc800;"></i></a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="/flight-schedule">운항 스케줄 ✈️</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item px-2"><a class="nav-link fw-bold" th:href="@{/admin/chart}">관리자 </a></li>
                <li sec:authorize="isAnonymous()" class="nav-item px-2"><a class="nav-link fw-bold text-primary" href="/login">로그인</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item px-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="로그아웃" role="button"><a class="nav-link text-primary" href="/logout" th:text="${#authentication.name}"></a></li>
            </ul>
            <form sec:authorize="isAuthenticated()" th:action="@{/searchCity}" th:onsubmit="return validForm()" method="get" class="d-flex ms-lg-4" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="도시명 입력" aria-label="Search" name="searchedCity">
                <button class="btn btn-outline-primary" style="width: 6rem" type="submit">검색</button>
            </form>
            <form sec:authorize="isAnonymous()" th:action="@{/login}" th:onsubmit="return validForm()" method="get" class="d-flex ms-lg-5" role="search">
                <input class="form-control me-2" type="search" placeholder="도시명 입력" aria-label="Search" name="searchedCity">
                <button class="btn btn-outline-primary" style="width: 6rem" type="submit">검색</button>
            </form>
        </div>
    </div>
</nav>

</html>
