<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      layout:fragment="Content">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body class="bg-light" data-bs-spy="scroll" data-bs-target="#navbar">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<div class="container py-9">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">
            <!-- 이미지를 중앙에 배치하고 크기를 줄임 -->
            <img src="https://i.imgur.com/qIufhof.png"
                 alt="No Results"
                 class="no-results-img mb-4 mx-auto d-block"
                 style="width: 40%;">
            <!-- 아래 글들은 왼쪽 정렬 -->
            <div class="text-center">
                <h2 class="mb-2">예상치 못한 에러가 발생하였습니다</h2>
                <p class="lead mb-3">
                    이용에 불편을 드려 죄송합니다.
                </p>
                <a href="/" class="btn btn-dark">홈으로 이동</a>
            </div>
        </div>
    </div>
</div>


<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

</body>


</html>