<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainLayout}"
      layout:fragment="Content">

  <body data-bs-spy="scroll" data-bs-target="#navbar">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-7">
        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mt-1">
              <h1 class="text-center text-wrap lh-sm fs-lg-6 fs-xxl-7">일본</h1>
            </div>

            <!-- 도시 목록 -->
            <div class="col-12">
              <nav></nav>
              <div class="nav nav-tabs clickr-tabs mb-4 justify-content-center" id="nav-tab" role="tablist">
                <select th:onchange="|location.href='@{/view/japan?city=}'+this.value|" class="form-select rounded-3 border-primary" aria-label="Default select example">
                  <option th:each="city : ${cities}" th:value="${city.getName()}" th:text="${#strings.capitalize(city.getName())}" th:selected="${city.getName()} == ${selectedCity}">도시명</option>
                </select>
              </div>
            </div>

            <!-- 장소별 영상 -->
            <div class="tab-content" id="nav-tabContent">
              <div class="gx-3 accordion" id="accordionExample">

                <div th:each="area : ${areas}" class="accordion-item">
                  <h2 class="accordion-header">
                    <button th:text="${area.getName()}" th:onclick="|playVideo(this, ${areaStat.size})|" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#collapse' + areaStat.count}" aria-expanded="false" th:aria-controls="${'collapse' + areaStat.count}">
                      도시명
                    </button>
                  </h2>
                  <div th:id="${'collapse' + areaStat.count}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div th:if="${areaStat.count == 1}" class="accordion-item">
                      <iframe class="min-vh-50 w-100" th:id="${'iframe-' + areaStat.count}" th:src="@{'https://www.youtube.com/embed/' + ${area.getCctvSrc()}(rel=0, controls=0, autoplay=0, mute=1, enablejsapi=1)}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                      <h6 class="text-center text-wrap py-1"><a class="text-decoration-underline text-primary" th:href="@{|${area.getMapSrc()}|}" target="_blank">구글맵으로 이동</a></h6>
                    </div>
                    <div sec:authorize="isAnonymous()" th:unless="${areaStat.count == 1}" class="accordion-item">
                      <iframe class="min-vh-50 w-100" th:id="${'iframe-' + areaStat.count}" th:src="@{/cctvLogin.html}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                      <h6 class="text-center text-wrap py-1"><a class="text-decoration-underline text-primary" th:href="@{|${area.getMapSrc()}|}" target="_blank">구글맵으로 이동</a></h6>
                    </div>
                    <div sec:authorize="isAuthenticated()" th:unless="${areaStat.count == 1}" class="accordion-item">
                      <iframe class="min-vh-50 w-100" th:id="${'iframe-' + areaStat.count}" th:src="@{'https://www.youtube.com/embed/' + ${area.getCctvSrc()}(rel=0, controls=0, autoplay=0, mute=1, enablejsapi=1)}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                      <h6 class="text-center text-wrap py-1"><a class="text-decoration-underline text-primary" th:href="@{|${area.getMapSrc()}|}" target="_blank">구글맵으로 이동</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 날씨 정보 -->
            <div class="card-group my-5 text-center">
              <th:block th:each="weatherEntry : ${weatherMap}">
                <th:block th:if="${weatherEntry.key != 'now'}">
                    <div class="card col-lg-2">
                      <!--            <img th:src="${weather.iconSrc}" class="card-img-top w-25" alt="...">-->
                      <div class="card-header">
                        <h5 th:text="${#strings.replace(#strings.substring(weatherEntry.key, 5), '-', '.')}" class="card-title my-auto"></h5>
                      </div>
                      <th:block th:each="weather : ${weatherEntry.value}">
                        <div class="card-body">
                          <div style="display: block;">
                            <span th:text="${#strings.setSplit(weather.date, 'T')[1]}" class="card-text"><small class="text-muted"></small></span>
<!--                            <span th:text="${weather.description}" class="card-text"></span>-->
                          </div>
                          <img th:src="|http://openweathermap.org/img/wn/${weather.icon}@2x.png|" class="card-img-top w-25" alt="weather-icon">
                          <span th:text="${weather.temp}+℃" class="card-text"></span>
                          <hr>
                          <!--                <p th:text="${weatherEntry.value.description}" class="card-text"></p>-->
                        </div>
                      </th:block>
                    </div>
                </th:block>
              </th:block>
            </div>

          </div>
        </div>
      </section>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

  <script th:src="@{/js/viewCity.js}" defer></script>
  </body>
</html>