<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
      layout:fragment="Content">

  <body data-bs-spy="scroll" data-bs-target="#navbar">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      <section class="py-0" id="header">
        <div class="container-fluid">
          <div class="row gx-2">
            <div class="col-12 py-7">
              <div class="swiper-container pb-4 overflow-hidden" data-pagination-target="pagination1">
                <div class="swiper-wrapper">
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-1.jpg}" alt="products" />
                    <p class="text-center">오사카</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-2.jpg}" alt="products" />
                    <p class="text-center">삿포로</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-3.jpg}" alt="products" />
                    <p class="text-center">뉴욕</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-4.jpg}" alt="products" />
                    <p class="text-center">홍콩</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-5.jpg}" alt="products" />
                    <p class="text-center">타이베이</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-6.jpg}" alt="products" />
                    <p class="text-center">베이징</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-7.jpg}" alt="products" />
                    <p class="text-center">바르셀로나</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/asia-japan.png}" alt="products" />
                    <p class="text-center">파리</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/jp-8.jpg}" alt="products" />
                    <p class="text-center">벤쿠버</p>
                  </div>
                  <div class="swiper-slide h-auto"><img class="w-100" th:src="@{/assets/img/gallery/asia-taiwan.jpg}" alt="products" />
                    <p class="text-center">시드니</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-0 pb-4">
        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-5">
              <h1 class="text-center text-wrap lh-sm fs-lg-6 fs-xxl-7">떠나고 싶은 그곳,</h1>
              <h1 class="text-center lh-sm fs-lg-6 fs-xxl-7">실시간으로 만나보세요!</h1>
            </div>

            <div class="col-12">
              <nav></nav>
              <div class="nav nav-tabs clickr-tabs mb-4 justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-food-tab" data-bs-toggle="tab" data-bs-target="#nav-food" type="button" role="tab" aria-controls="nav-food" aria-selected="true">일본</button>
                <button class="nav-link" id="nav-shoes-tab" data-bs-toggle="tab" data-bs-target="#nav-shoes" type="button" role="tab" aria-controls="nav-shoes" aria-selected="false">유럽</button>
<!--                <button class="nav-link" id="nav-watches-tab" data-bs-toggle="tab" data-bs-target="#nav-watches" type="button" role="tab" aria-controls="nav-watches" aria-selected="false">아메리카</button>-->
<!--                <button class="nav-link" id="nav-cosmetics-tab" data-bs-toggle="tab" data-bs-target="#nav-cosmetics" type="button" role="tab" aria-controls="nav-cosmetics" aria-selected="false">오세아니아</button>-->
<!--                <button class="nav-link" id="nav-phone-tab" data-bs-toggle="tab" data-bs-target="#nav-phone" type="button" role="tab" aria-controls="nav-phone" aria-selected="false">중동</button>-->
<!--                <button class="nav-link" id="nav-camera-tab" data-bs-toggle="tab" data-bs-target="#nav-camera" type="button" role="tab" aria-controls="nav-camera" aria-selected="false">아프리카</button>-->
              </div>
            </div>
            <div class="tab-content" id="nav-tabContent">

              <div class="tab-pane fade show active" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">
                <div class="row gx-3">
                  <div th:each="city : ${cities}" class="country-imgs col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100 opacity-85" th:src="${city.getThumbnail()}" alt="Japan" /><a class="stretched-link" th:href="@{|view/${city.getCountry()}?city=${city.getName()}|}" ></a>
                      <div class="card-img-overlay"><h1 th:text="${#strings.capitalize(city.getName())}" class="card-title text-center bg-gradient bg-opacity-30 text-white">도시명</h1></div>
                    </div>
                  </div>
                  <!-- <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div> -->
                </div>
              </div>

              <div class="tab-pane fade" id="nav-shoes" role="tabpanel" aria-labelledby="nav-shoes-tab">
                <div class="row gx-3">
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-1.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-2.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-3.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-4.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-5.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/jp-6.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-watches" role="tabpanel" aria-labelledby="nav-watches-tab">
                <div class="row gx-3">
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-1.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-2.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-3.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-4.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-5.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/watch-6.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-cosmetics" role="tabpanel" aria-labelledby="nav-cosmetics-tab">
                <div class="row gx-3">
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-1.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-2.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-3.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-4.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-5.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/cosmetics-6.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-phone" role="tabpanel" aria-labelledby="nav-phone-tab">
                <div class="row gx-3">
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-1.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-2.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-3.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-4.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-5.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/phone-6.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-camera" role="tabpanel" aria-labelledby="nav-camera-tab">
                <div class="row gx-3">
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-1.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-2.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-3.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-4.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-5.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-4 mb-3 h-100">
                    <div class="card card-span h-100 text-white"><img class="rounded-3 h-100" th:src="@{/assets/img/gallery/camera-6.png}" alt="..." /><a class="stretched-link" href="#!"></a></div>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
<!--      <section class="py-0 pt-3">-->

<!--        <div class="container">-->

<!--          <div class="border-bottom border-3"></div>-->
<!--          <div class="row">-->
<!--            <div class="col-md-6">-->
<!--              <p class="my-2 text-center text-md-start">All rights Reserved &copy; Your Company, 2024</p>-->
<!--            </div>-->
<!--            <div class="col-md-6 order-1 order-md-0">-->
<!--              <p class="my-2 text-1000 text-md-end text-center">&nbsp;-->
<!--                <i class="fas fa-envelope text-warning me-2"></i><span class="text-1000">example@email.com</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash; end of .container&ndash;&gt;-->

<!--      </section>-->
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

  </body>

</html>